:root{
    --color-primary:#01458E !important;
    --color-secondary:#FFFFFF !important;
    --color-black:#000000 !important;
    --color-grey:#ededed !important;
    --color-footer:#ffffff !important;
 }

#about-page .side-bar-widget span{
    font-weight: bold;
    color: #01458E;
}
#about-page .course-desc{
   margin-top: -38px;
}
 .about-text-item .section-title-2 h2{
    font-weight: bold;
    color: #01458E;
}